film-id-width = 30px
film-name-width = 400px
film-year-width = 100px
label-margin = 2px

float-left() 
	display block
	float left
	min-height 1px

.film-id
	margin label-margin
	width film-id-width
	float-left()

.film-name
	margin label-margin
	width film-name-width
	float-left()

.film-year
	margin label-margin
	width film-year-width
	float-left()

.film-container
	clear both
	input[type=button]
		width 100px

.film-name-input
	width film-name-width
	float-left()

.film-year-input
	width film-year-width
	float-left()

.film-details-label
	width 100px
	clear both
	float-left()

.film-details-valuelabel
	float-left()

.film-year-error
	width film-year-width

.film-name-error
	width film-name-width

.validation-error
	color: red
	float-left()